*{
  box-sizing: border-box;
}


body {
  background-color:black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc{
  width: 100%;
  height: 100%;
  margin:15px;
  text-align: center;
}

/* input{
  color:black;
  background-color:#ff12;
  padding:10px 10px 10px;
} */

h1 {
  font-size-adjust: auto;
  font-variant-position: super;
  font-variant-east-asian: normal;
  font-display: swap;
  font-family: fantasy;
  font-weight: bold;
  font-variant: small-caps;
  color: red;
}

input {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-weight: lighter;
  border:11px 11px 11px red;
  border-radius:2px 3px 2px lighter ;
}
